# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.env
venv/

# IDE
.vscode/
.idea/

# Claude Code
.claude/

data/raw
data/annotation
# ignore prediction output
predictions

# ignore trained model
models/trained