# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.env
venv/
.pytest_cache/

# IDE
.vscode/
.idea/

# Claude Code
.claude/

# ignore raw data
data/raw
data/annotation
# ignore prediction output
predictions

# ignore model files
models/